body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#signup {
    background-color: #4caf50;
    width: max-content;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#signup:hover{
    background-color: #45a049;
}

#switchP{
    margin-top: 0px;
    font-size: 13px;
}

#switchLink {
    color: #4caf50;
    cursor: pointer;
    text-decoration: none;
}

#switchLink:hover{
    color: #45a049;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
}

.error-message {
    color: #ff0000;
    margin-top: -10px;
    margin-bottom: 15px;
    text-align: left;
}


#password-Req{
    text-align: start;
    margin-bottom: -10px;
}

li {
    text-align: start;
    font-size: 14px;
    color: #666666;

}

